{% extends "myapp/base.html" %}

{% block content %}
    <div class="container form-group">
        <br>
    <div class="row">
        <div class="col-lg-6">
            <h2>Add a new Entry!</h2>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-outline-danger" onclick="window.location='{% url 'calendar' %}'" type="button">Back</button>
        </div>
    </div>

        <hr>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                <label>{{ field.label }}</label>
                <input placeholder="{{ field.label }}" name="{{ field.name }}" type="text" class="form-control">
            {% endfor %}
            <br>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}